<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Collections.Pooled" version="2.0.0-preview.27" manuallyInstalled="true" />
  <package id="CommunityToolkit.HighPerformance" version="8.2.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" manuallyInstalled="true" />
</packages>